{% extends 'partials/base.html' %}
{% load static %}

{% block sidebar %}
    <!-- Empty → sidebar hidden -->
{% endblock %}

{% block content %}

<section class="section-conten padding-y min-h-screen flex items-center justify-center">
 <div class="flex justify-center w-full">
<div class="flex flex-col lg:flex-row items-center gap-10 max-w-5xl w-full">

        <!-- LEFT SIDE -->
        <div class="w-full lg:w-1/2 text-center lg:text-left">
            <img src="{% static 'images/logo.png' %}" 
                 class="mx-auto lg:mx-0 w-12">

            <p class="font-medium md:text-2xl mt-6 text-xl max-w-md mx-auto lg:mx-0">
                Recover your account and get back to connecting with your world on SocialHub. 🔐
            </p>
        </div>


    <!-- RIGHT SIDE (FORM) -->
    <div class="w-full lg:w-1/2 max-w-md">

        <div class="card mx-auto p-1"
        style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                       rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                       rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">

            <div class="card-body p-5">

                <h4 class="card-title mb-6 font-bold text-3xl text-indigo-900 text-center">
                    Forgot Password
                </h4>

                <form action="{% url 'forgotPassword' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group mb-5">
                        <input type="email"
                               class="form-control font-bold text-gray-900"
                               placeholder="Email Address"
                               name="email">
                    </div>

                    <div class="form-group text-blue-900 font-bold">
                        <a href="{% url 'login' %}" class="float-right">
                            Got password? Login
                        </a>
                    </div>
                  
                    <button type="submit" class="bg-blue-600 font-semibold  px-5 py-2 rounded-md text-center text-white">
                        Submit
                    </button>
              
                </form>

            </div>
        </div>

    </div>

</div>
</div>

</section>

{% endblock %}

